html,
body {
  margin: 0;
  padding: 0;
}

.caret {
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 7px;
  height: 7px;
  transform: rotate(-135deg) translate(-2px, -5px);
  transition: transform 0.15s;
}

.rotate {
  transform: translateY(3px) rotate(-45deg) !important;
}
