html,
body {
  margin: 0;
  padding: 0;
}
header {
  font: normal 14px sans-serif;
  letter-spacing: 0.5px;
  cursor: pointer;
  background-color: #313b3f;
  color: #d9a74a;
  overflow: auto;
  padding: 5px 20px 7px 15px;
  position: relative;
}
.fat-arrow {
  position: relative;
  float: left;
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.fat-arrow span {
  font-size: 20px;
  font-style: italic;
}
.caret {
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 7px;
  height: 7px;
  transform: rotate(-135deg) translate(-2px, -5px);
  transition: transform 0.15s;
}

.rotate {
  transform: translateY(3px) rotate(-45deg) !important;
}

header a {
  text-decoration: none;
  position: absolute;
  right: 20px;
  font-size: 14px;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  color: #d9a74a;
}

@media screen and (max-width: 768px) {
  header {
    display: none;
  }
}
