#calendar-component {
  position: relative;
  max-width: 250px;
  margin: 0 auto;

  input {
    font: normal 15px sans-serif;
    border: 1px solid #313b3f;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    color: #313b3f;
    box-sizing: border-box;
  }

  .calendar {
    box-shadow: 2px 5px 6px 2px rgba(0, 0, 0, 0.2);
    width: 250px;
    padding-bottom: 15px;
    border: 1px solid #313b3f;
    background-color: white;
    position: absolute;
    right: 0;
    top: 40px;
    border-radius: 4px;
    z-index: 1;

    .all-days-skeleton {
      display: flex;
      flex-wrap: wrap;
      margin-top: 5px;
      justify-content: center;
      font: normal 14px sans-serif;

      > div {
        width: 31px;
        height: 25px;
        display: flex;
        border: 1px solid transparent;
        cursor: pointer;

        .day-value {
          margin: auto;
        }
      }
    }
  }

  nav {
    font: normal 15px sans-serif;
    display: grid;
    background-color: #313b3f;
    color: #fff;
    padding: 5px 0 6px 0;
    grid-template-columns: repeat(2, 45px);
    grid-column-gap: 20px;
    position: relative;
    justify-content: center;

    .month, .year {
      display: grid;
      grid-template-columns: auto 10px;
      grid-column-gap: 5px;
    }

    .close-calendar {
      background-color: white;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
      color: black;
      border-radius: 4px;
      display: flex;
      cursor: pointer;

      span {
        margin: auto;
      }
    }

    .search {
      position: absolute;
      background-color: white;
      border-radius: 3px;
      padding: 4px 4px 4px 4px;
      cursor: pointer;
      right: 20px;
      top: 3px;
      color: #313b3f;
      text-transform: uppercase;
      font: bold 11px sans-serif;
    }

    .month,
    .year {
      ul {
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
        grid-row-gap: 2px;
        grid-column-gap: 1px;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: #457b9d;
        padding: 5px;
        top: 13px;
        left: 0;
        list-style-type: none;
        width: 240px;
        text-align: center;
        z-index: 1;
        overflow-y: auto;
        height: 216px;

        li {
          cursor: pointer;
          transition: background-color 0.25s;
          padding: 8px;
          box-sizing: border-box;
          border-radius: 4px;

          &:hover {
            background-color: #03658c;
          }
        }
      }
    }

    .month,
    .year {
      cursor: pointer;
    }
  }

  .weekdays {
    margin-top: 10px;

    ul {
      display: grid;
      grid-template-columns: repeat(7, auto);
      justify-content: center;
      padding: 0;
      grid-column-gap: 13px;
      transform: translateX(-2px);

      li {
        list-style-type: none;
        font: bold 14px sans-serif;
        padding: 0 5px;
      }
    }
  }
}

.has-value:hover,
.current-date {
  background-color: #03658c;
  border-radius: 4px;
  color: white;
  transform: scale(0.9);
}

.future-date {
  background-color: rgb(204, 51, 0);
  color: white !important;
}
